<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.dev.tanners.backgroundsetter" >

    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
</manifest>
